/*Body CSS*/
body{
    background-color:#263238 !important;
}
/* Nav Bar CSS */
.navbar .navbar-default{
    padding: 15px;
    font-size: 12px;
    letter-spacing: 5px;
    display: block;
}
/* Header CSS */
.text-center{
    text-align:center;
}
.bg-1{
    background-color: #263238;
    padding-top: 15px;
    padding-bottom:15px;
    border:none !important;
    color:white;

}
.bg-2{
    background-color:#B0BEC5;
}
.bg-3{
    background-color:#abcdef;    
}
.list-inline>li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    height:35px !important;
    width: 35px !important;
    font-size:45px;
}
/* Section CSS */

/* About Section CSS */

/* Portfolio Item CSS */

/* Footer CSS */

/* Button CSS */


