/*Body CSS*/

/* Nav Bar CSS */
.navbar .navbar-default{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    letter-spacing: 5px;
    border:none;
}
/* Header CSS */
.text-center{
    text-align:center;
}
.bg-1{
    background-color: #263238;
    padding-top: 15px;
    padding-bottom:15px;
    border:none;
    color:white;

}
.bg-2{
    background-color:#B0BEC5;
}
.bg-3{
    background-color:#abcdef;    
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    height:45px!important;
    width: 45px!important;
    font-size:45px;
}
/* Section CSS */

/* About Section CSS */

/* Portfolio Item CSS */

/* Footer CSS */

/* Button CSS */


